html{
    height: 100%;
}

body{
    margin: 0;
    overflow-x: hidden;
    height: 100%;

}

main{
    flex: 1 1 auto; /* Занимать оставшееся доступное пространство */

}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;

}

footer{
    text-align: center;
    background-color: gainsboro;
    
}

a{
    color: white;
    text-decoration: none;
    
}

.mainIndex{
    margin: 24px;
}
/*------*/


.title {
    text-decoration: none;
    font-size: 2em;
    list-style: none;
    flex-shrink: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Добавляем перенос строк */
    justify-content: space-between;
    margin: 0;
    padding: 16px;
}
.titleLi {
    padding: 8px;
  
}






/*------*/



.description{
    font-size: 32px;
}



/* Bootstrap */



.navbar-nav .nav-item.active .nav-link {
    color: rgb(194, 192, 192);
}

.navbar-nav .nav-item .nav-link {
    color: white;
}


.card-img-top{
    width: 100%;
    object-fit: contain; /* Подгоняем размер изображения без обрезания */

}

.navbar-collapse {
    padding: 16px;
}



/*------*/



/*------*/

.ribka{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.ribkaInfo {
    flex: 1; 
}


.ribkaText {
    word-wrap: break-word;
    font-size: 24px;
    margin: 0;
}


.ribkiList{
    list-style: none;
}


.ribkiLi{
}

.ribkiListImage{
    display: inline-block;
    width: 800px;
    height: 600px;
}



.ribkaImage{
    max-width: 100%;
    height: auto;
}

.ribkaLi{
    margin: 16px;
}

header{
    display: flex;
    justify-content: start;
    height: 200px;
    width: 100%;
    background-color: rgba(67, 114, 230, 0.862);
    align-items: center;
    flex-wrap: wrap;
    
} 

